

<%= form_with model: article do |form| %>

  <!-- Part of form for adding article author -->
  <div>
    <%= form.select :authors_id, Author.all.collect {|a| [a.name, a.id]}%>
  </div>

  <!-- Part of form for adding article title -->
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>

  </div>

  <!-- Part of form for adding article body -->
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>

  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
